<!DOCTYPE html>
<html lang="ja">
    <body>

        <h1>Books</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>リーダブルコード</td>
                    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
                    <td>
                        <a class="show_110466" href="/books/110466">Show</a>
                    </td>
                    <td>
                        <a class="edit_110466" href="/books/110466/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destroy_110466" rel="nofollow" date-method="delete" href="/books/110466">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>トラブル知らずのシステム設計</td>
                    <td>システム設計の要点を図解で説明してくれます</td>
                    <td>
                        <a class="show_110467" href="/books/110467">Show</a>
                    </td>
                    <td>
                        <a class="edit_110467" href="/books/110467/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110467" rel="nofollow" date-method="delete" href="/books/110467">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>たのしいRuby</td>
                    <td>Rubyの入門におすすめです</td>
                    <td>
                        <a class="show_110468" href="/books/110468">Show</a>
                    </td>
                    <td>
                        <a class="edit_110468" href="/books/110468/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110468" rel="nofollow" date-method="delete" href="/books/110468">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>入門Git</td>
                    <td>gitについての基本操作から内部構造まで解説してくれます</td>
                    <td>
                        <a class="show_110469" href="/books/110469">Show</a>
                    </td>
                    <td>
                        <a class="edit_110469" href="/books/110469/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110469" rel="nofollow" date-method="delete" href="/books/110469">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>アルゴリズム図鑑</td>
                    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
                    <td>
                        <a class="show_110470" href="/books/110470">Show</a>
                    </td>
                    <td>
                        <a class="edit_110470" href="/books/110470/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110470" rel="nofollow" date-method="delete" href="/books/110470">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>達人プログラマー</td>
                    <td>プログラマ入門者は必読!</td>
                    <td>
                       <a class="show_110471" href="/books/110471">Show</a>
                    </td>
                    <td>
                        <a class="edit_110471" href="/books/110471/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110471" rel="nofollow" date-method="delete" href="/books/110471">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>データベース実践入門</td>
                    <td>効率的なSQL分を教えてくれます</td>
                    <td>
                    <a class="show_110472" href="/books/110472">Show</a>
                    </td>
                    <td>
                        <a class="edit_110472" href="/books/110472/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110472" rel="nofollow" date-method="delete" href="/books/110472">Destroy</a>
                    </td>
                </tr>

                <tr>
                    <td>test6</td>
                    <td>kn</td>
                    <td>
                    <a class="show_110473" href="/books/110473">Show</a>
                    </td>
                    <td>
                        <a class="edit_110473" href="/books/110473/edit">Edit</a>
                    </td>
                    <td>
                        <a date-confirm="Are you sure?" class="destry_110473" rel="nofollow" date-method="delete" href="/books/110473">Destroy</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>New book</h2>
        <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✔️">
            <div class="field">
                <label for="book_title">Title</label>
                <input class="book_title" type="text" name="book[title]" id="book_title">
            </div>
            <div class="field">
                <label for="book_body">Body</label>
                <textarea class="book_body" name="book[body]" id="book_body"></textarea>
                <div class="actions">
                    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
                </div>
            </div>
        </form>
    </body>
</html>